.root {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.bodyContents {
    width: 75%;
    background-color: #F3F7F7;
    margin: 10px;
    padding: 15px;
}

.headerTitle {
    background-color: white;
}
.headerTitle>h1{
    background-color: white;
    margin: 10px;
    padding: 0.67em;
    box-shadow: 5px 5px 16px 1px #7b8189;
}

.pb-content {
    padding: 20px;
    background-color: white;
    margin: 10px;
    box-shadow: 5px 5px 16px 1px #7b8189;
}

.sampleInput {
    background-color: #F3F7F7;
    padding: 10px;
}
/* #root {
    background-color: #F3F7F7;
} */